include layout/app.pug

  include chunk/header.pug

  main.main 
    section.top 
      .container
        h2.top__title.title__h2 Тестовые задания по KUMA

    include chunk/quiz.pug
        

  include chunk/footer.pug
  include layout/script.pug

