include layout/app.pug

  include chunk/header.pug

  main.main 
    section.top 
      .container
        h2.top__title.title__h2 Загрузка тестовые заданий

    include chunk/loading.pug
        

  include chunk/footer.pug
  include layout/script.pug

