section.loading
    .container.loading__container
        .loading__wrapper
            h3.loading__wrapper-title.title__h3 Добавьте Ваши вопросы 
            form.loading__form(action="" )
                p.loading__form-title Введите вопрос
                textarea.loading__form-question#question(cols="50", row="4", name="question", placeholder="Введите вопрос")
                p.loading__form-title Введите ответ
                textarea.loading__form-answer#answer(cols="50", row="4", name="answer", placeholder="Введите ответ") 
                label.loading__form-correct-answer(for="correct-answer") Отметьте правильный ответ 
                    input#correct-answer(type="checkbox", name="correct-answer")
                button.loading__form-button.button#btn-add(type="button") Еще ответ
                p.loading__form-title Введите подсказку
                textarea.loading__form-explanation#explanation(cols="50", row="4", name="explanation", placeholder="Введите подсказку")
                button.loading__form-button.button#btn-next(type="button") Сохранить